@model EmployeeManagement.Models.Employee

@{
    Layout = null; // This partial view doesn't need a layout
}

<form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department" class="form-label"></label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<EmployeeManagement.Models.Department>()" class="form-control">
                <option value=""> Select Department </option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="HireDate" class="form-label"></label>
            <div class="input-group date" id="datepicker">
                <input asp-for="HireDate" class="form-control"
                       max="@DateTime.Today.ToString("yyyy-MM-dd")"
                       value="@(Model.HireDate?.ToString("yyyy-MM-dd") ?? DateTime.Today.ToString("yyyy-MM-dd"))"
                       type="date"
                       autocomplete="off" />
               
                   </div>
            <span asp-validation-for="HireDate" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Salary" class="form-label"></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('#HireDate').datepicker({
            format: 'yyyy-mm-dd',
            endDate: new Date(),
            autoclose: true,
            todayHighlight: true
        });

    });
</script>